# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Oscar Norman\Desktop\OOAD Projektarbete\JAVA20-OOAD-Projektarbete-Grupp-10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
